html {
  box-sizing: border-box;
}

a {
  color: darkviolet;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant', sans-serif;
  line-height: 2;
  background: url(https://lh3.googleusercontent.com/Ig5EyUVwF-70pMDT9JDXgDies6cKAfHjMAjLarOpVv1GWkZ-Udeo-bFxySSGJPboRN4VW1EeOwWhOCF8M1j3BdRdSTWBfwWFg-5KTz-jflQXqP9uJCtr0q3S42k2R7TnRZwX9PnbRQ) no-repeat;
  background-size: cover;
  color: darkgray;
}

img {
  max-width: 100%;
  max-height: auto;
  min-width: 50%
  min-height: auto;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

p {
  color: purple;
  justify-content: space-between;
  font-style: none;
}

.container {
  max-width: 960px;
  margin: 45px;
  padding: 35px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 25px;
  padding: 25px;
  border-bottom: 1px solid pink;
}

section:last-child {
 border-bottom: none;
}

.section-title {
  font-weight: bold;
  font-size: 20px;
  line-height: l;
  color: #9932CC;
  font-family: "Amiri", roboto;
}

.name-title {
  font-size: 45px;
  line-height: 1.5;
  color: orchid;
  font-family: "Hepta Slab", arial;
  text-shadow: 4px 4px 4px #aaa;
}

.skills-container {
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}

.employment {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid deeppink;
}

.employment:last-child {
  border-bottom: none;
}

.employment-title-container {
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}

.employer {
  font-weight: bold;
  line-height: 1.5;
}

.date {
  display: inline;
  color: rgb(186,85,211);
}

.employment-title {
  font-style: italic;
  color: thistle;
}

h4 {
  line-height: 1;
  text-decoration: underline;
  color: mediumorchid;
}

.education {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid deeppink;
}

.education:last-child {
  border-bottom: none;
}

.education-title-container {
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}

.school {
  font-weight: bold;
  line-height: 1.5;
}

.education-title {
  font-style: italic;
  color: thistle;
}

.interests-container {
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}

.references-container {
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}

footer {
  position: fixed;
  margin-bottom: 0;
}

.copyright {
  position: fixed;
  width: 100%;
  color: lightgray;
  line-height: 1.5;
  font-size: 0.7em;
  text-align: left;
  margin-bottom: 0;
}
