html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant', sans-serif;
  line-height: 2;
  background: url(https://lh3.googleusercontent.com/Ig5EyUVwF-70pMDT9JDXgDies6cKAfHjMAjLarOpVv1GWkZ-Udeo-bFxySSGJPboRN4VW1EeOwWhOCF8M1j3BdRdSTWBfwWFg-5KTz-jflQXqP9uJCtr0q3S42k2R7TnRZwX9PnbRQ) no-repeat;
  background-size: cover;
  color: darkgray;
}

img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

p {
  color: purple;
  justify-content: space-between;
}

.container {
  max-width: 960px;
  margin: 45px;
  padding: 35px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 25px;
  padding: 25px;
  border-bottom: 1px solid pink;
}

section:last-child {
 border-bottom: none;
}

.section-title {
  font-weight: bold;
  font-size: 20px;
}

.name-title {
  font-size: 45px;
  line-height: 1.5;
  color: orchid;
}

.employment {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid pink;
}

.employment:last-child {
  border-bottom: none;
}

.employment-title-container {
 justify-content: space-between;
 margin-bottom: 20px;
 font-size: 18px;
 
}

.employer {
  font-weight: bold;
  line-height: 1.5;
}
